.container {
  max-width: $large;
  padding: 0 $padding;
  margin-left: auto;
  margin-right: auto;
}

.container-small {
  @extend .container;

  max-width: $small;
}

.container-medium {
  @extend .container;

  max-width: $medium;
}
